[submodule "Mainroad"]
	path = Mainroad
	url = git@github.com:Vimux/Mainroad.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = git@github.com:halogenica/beautifulhugo.git
[submodule "themes/relearn"]
	path = themes/relearn
	url = git@github.com:McShelby/hugo-theme-relearn.git
[submodule "themes/poison"]
	path = themes/poison
	url = git@github.com:lukeorth/poison.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = git@github.com:zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/hugo-simple"]
	path = themes/hugo-simple
	url = git@github.com:maolonglong/hugo-simple.git
[submodule "themes/lightbi-hugo"]
	path = themes/lightbi-hugo
	url = git@github.com:binokochumolvarghese/lightbi-hugo.git
