[submodule "Mainroad"]
	path = Mainroad
	url = https://github.com/Vimux/Mainroad.git
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/relearn"]
	path = themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison.git
[submodule "themes/hugo-theme-cleanwhite"]
	path = themes/hugo-theme-cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
[submodule "themes/hugo-simple"]
	path = themes/hugo-simple
	url = https://github.com/maolonglong/hugo-simple.git
[submodule "themes/lightbi-hugo"]
	path = themes/lightbi-hugo
	url = https://github.com/binokochumolvarghese/lightbi-hugo.git
[submodule "themes/slick"]
	path = themes/slick
	url = https://github.com/spookey/slick.git
[submodule "themes/Lowkey-Hugo-Theme"]
	path = themes/Lowkey-Hugo-Theme
	url = https://github.com/nixentric/Lowkey-Hugo-Theme.git
[submodule "themes/plague"]
	path = themes/plague
	url = https://github.com/brianreumere/plague.git
[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/ldeso/hugo-flex.git
